.media-properties {
  margin-left: auto;
}

.media-properties__badges,
.media-properties__icons {
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-left: var(--spacing-vertical-small);
    margin-bottom: var(--spacing-vertical-small);
  }
}

.media__properties--large {
  display: inline-block;
  vertical-align: top;

  &:not(:empty) {
    height: 2.55rem;
    margin-top: 0px;

    margin-bottom: var(--spacing-vertical-small);
    padding-top: var(--spacing-vertical-small);
  }

  .badge {
    align-items: center;
    position: relative;

    > *:not(:last-child) {
      margin-right: var(--spacing-vertical-small);
    }
  }
}
