.nav__link {
  margin-bottom: var(--spacing-vertical-small);
  // margin-left: var(--spacing-vertical-medium);
}

.navigation {
  position: fixed;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  overflow: visible;
  background-color: #f6f7f8;
  padding-top: var(--spacing-main-padding);
  font-size: 1.4rem;
  z-index: 2;

  @media (min-width: 601px) {
    width: var(--side-nav-width);
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.navigation__links {
  position: relative;
  margin-bottom: var(--spacing-vertical-xlarge);
}

.navigation__links--bottom {
  margin-top: auto;
  margin-bottom: var(--spacing-vertical-large);
  font-size: 1.2rem;
}

.navigation__link {
  display: block;
  line-height: 1.75;
  position: relative;
  text-align: left;
  transition: color 0.2s;
  white-space: nowrap;
  width: 100%;
  color: lighten($lbry-black, 20%);
  cursor: pointer;

  &:hover {
    color: $lbry-teal-4;
  }

  &.navigation__link--active {
    color: $lbry-teal-5;
  }
}

.navigation__link--title {
  margin-bottom: var(--spacing-vertical-small);

  color: $lbry-gray-5;
  cursor: default;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navigation__link-items {
  font-size: 1.15rem;
  padding-left: var(--spacing-vertical-large);
}

.navigation__link-item {
  position: relative;

  &::before {
    width: 0.25rem;
    height: 0.25rem;
    top: 44%;
    left: -1rem;

    border-radius: 50%;
    content: '';
    position: absolute;
    transition: background-color 0.2s;
  }

  &:not(.navigation__link-item--active) {
    color: $lbry-gray-5;

    &::before {
      background-color: transparent;
    }
  }

  &:hover,
  .navigation__link-item--active {
    &::before {
      background-color: $lbry-black;

      html[data-mode='dark'] & {
        color: $lbry-gray-1;
      }
    }
  }
}
