.search__header {
  margin-bottom: var(--spacing-vertical-large);

  .placeholder {
    background-color: rgba($lbry-white, 0.1);
  }

  .media__subtitle {
    font-size: 0.7em;
  }
}

.search__options {
  margin-top: var(--spacing-vertical-large);

  legend {
    &.search__legend--1 {
      background-color: $lbry-teal-1;
    }

    &.search__legend--2 {
      background-color: $lbry-cyan-1;
    }

    &.search__legend--3 {
      background-color: $lbry-pink-1;
    }

    [data-mode='dark'] & {
      &.search__legend--1 {
        background-color: $lbry-teal-5;
      }

      &.search__legend--2 {
        background-color: $lbry-cyan-5;
      }

      &.search__legend--3 {
        background-color: $lbry-pink-5;
      }
    }
  }

  fieldset:not(:first-child) {
    margin-top: var(--spacing-vertical-large);
  }
}
